#div_footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
}

#footer_h1{
    font-style: inherit;
    font-family: inherit;
    font-size: 20px;
}

#header{
    font-size: 45px;
    font-family: cursive;
    font-style:inherit;
}

#camera{
    width: 500px;
    height: 400px;
    border:1px solid grey;
}

img:hover{
    border-radius: 140px;
    box-shadow: 0 6px 8px 0 rgb(0, 0, 0);
}


